@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: rgb(9 9 11);
  color: rgb(244 244 245);
  font-family: "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: rgb(63 63 70);
  color: rgb(250 250 250);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(63 63 70) rgb(24 24 27);
}
